<% if flash[:notice] %>
      <div class="flash">
        <%= notice %>
      </div>
 <% end %>
<div class="container">  <!-- この行を追加 -->
 <div class="row">      <!-- この行を追加 -->
 <div class="col-md-3">  <!-- この行を追加 -->
   <h2>User info</h2>
    <div class="profile-container">
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
      <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <th><h3 class="profile-name"><%= @user.name %></h3></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><h3 class="profile-introduction"><%= @user.introduction %></h3></th>
        </tr>
      </tbody>
      </table>
      <div class="row">
      <%= link_to  (edit_user_path(@user.id)),class: "btn btn-outline-secondary d-grid gap-2 col-12 mx-auto fas fa-user-cog",method: :get do %>
      <% end %>
      </div>
   <h2>New book</h2>
   <% if @book.errors.any? %>
   <h3>error:<%= @book.errors.count %>件のエラーが発生しました</h3>
   <br>
    <% @book.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
    </br>
   <% end %>
<!-- form_with部分 -->
   <%= form_with model:@book, local:true do |f| %>
   <h4>Title</h4>
   <%= f.text_field :title %>
   <h4>Opinion</h4>
   <%= f.text_area :body %>
   <%= f.submit 'Create Book'%>
   <% end %>
 </div>
 </div>  <!-- この行を追加 -->


<div class="col-md-8 offset-md-1">  <!-- この行を追加 -->
<table class="table table-striped">
 <h1>Book detail</h1>
 <table class="table table-hover table-inverse">
   <thead>
    　<tr>
    　  <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    　</tr>
　</thead>


  <tbody>
    <% if @user.id == current_user.id %>
  <tr>
   <td><%= link_to user_path(@user.id)  do %>
    　      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
    　      <% end %>
     <br><%= link_to @user.name, user_path(@user.id) %>
   </td>
    <td><%= link_to @bookshow.title, book_path(@bookshow.id) %></td>
    <td><%= @bookshow.body %></td>
    <td><%= link_to "Edit", edit_book_path(@bookshow.id) %></td>
    <td><%= link_to "Destroy",book_path(@bookshow.id), method: :delete,"data-confirm" => "本当に削除しますか？" %></td>
  </tr>
<% else %>
<tr>
   <td><%= link_to user_path(@user.id)  do %>
    　      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
    　      <% end %>
     <br><%= link_to @user.name, user_path(@user.id) %>
   </td>
    <td><%= link_to @bookshow.title, book_path(@bookshow.id) %></td>
    <td><%= @bookshow.body %></td>
 </tr>
<% end %>
  </tbody>
</table>